

#logo {
	height: 50px; 
	width: 50px;
}

#brand {
	padding-bottom: 20px;
}

#branch {
	padding-bottom: 40px;
}

button {
	background-color: #f09b1c; 
	color: black;
}

#testBtn0,#testBtn1,#testBtn2,#testBtn3,#testBtn4,#testBtn5,#testBtn6,#testBtn7,#testBtn8 {
	background-color: #f09b1c; 
	color: black;
	position: absolute;
	left: 0;
	bottom: 0;
}

.thumbnail {
	height: 350px;
	width: 200px;
	margin: 30px;
}

img {
	height: 250px;
	width: 100;
}

#PINvitation {
	margin-top: 20px;
}

#PIN {
	position: absolute;
	width: 150px;
}


.modalImg {
	height: 200px;
	width: 200px;

}

