#logo {
	height: 50px; 
	width: 50px;
}

#brand {
	padding-bottom: 20px;
}

#branch {
	padding-bottom: 40px;
}

button {
	background-color: gray;
}

.thumbnail {
	height: 350px;
	width: 200px;
	margin: 30px;
}

#PINvitation {
	margin-top: 20px;
}

#PIN {
	position: absolute;
	width: 150px;
}

p {
	font-size: small ;
	padding: 10px;
}

.go {
	position: absolute;
	left: 0;
	bottom: 0;
}